#the_crew_heading {
	grid-area: the_crew_heading;

	background-color: #feef52;
}

#the_crew_picture {
	grid-area: the_crew_picture;
	background: url(../images/about/the_crew_medium.png) top left no-repeat;
}

#the_crew_box_grid {
	grid-area: the_crew_box_grid;

	grid-template-areas: 
		". employee_1 employee_2 employee_3 .";
}

#employee_1 {
	grid-area: employee_1;

	background: url(../images/about/DaveDamitsGMProfile.jpg) top center no-repeat;
	background-size: 120% auto;
}

#employee_1:hover {
	
}

#employee_2 {
	grid-area: employee_2;

	background: url(../images/about/KyleDickOwnerProfile.jpg) top center no-repeat;
	background-size: 120% auto;
}

#employee_2:hover {
	
}

#employee_3 {
	grid-area: employee_3;

	background: url(../images/about/tyProfile.jpg) top center no-repeat;
	background-size: 120% auto;
}

#employee_3:hover {
	
}

#pipeline_pic {
	grid-area: pipeline_pic;
	background: url(../images/about/pipeline_pic_medium.jpg) top center no-repeat;
	background-size: cover;

	height: 900px;
	margin-top: -700px;
	z-index: -1;
}

#location {
	grid-area: location;

	width: 80%;
}

#mission {
	grid-area: mission;

	width: 80%;
}

#capabilities {
	grid-area: capabilities;

	width: 80%;
}

#careers {
	grid-area: careers;
}

.about_page_content {
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: auto;
	/*grid-auto-rows: 100%;*/
	grid-template-areas: 
		"the_crew_heading the_crew_heading the_crew_picture the_crew_picture"
		"the_crew_box_grid the_crew_box_grid the_crew_box_grid the_crew_box_grid"
		"pipeline_pic pipeline_pic pipeline_pic pipeline_pic"
		"location location location location"
		"mission mission mission mission"
		"capabilities capabilities capabilities capabilities"
		"careers careers careers careers"
		"contact_area contact_area contact_area contact_area";
}

@media screen and (max-width: 992px) {
	.about_page_content {
		grid-template-areas:
			"the_crew_heading the_crew_heading the_crew_heading the_crew_heading"
			"the_crew_picture the_crew_picture the_crew_picture the_crew_picture"
			"the_crew_box_grid the_crew_box_grid the_crew_box_grid the_crew_box_grid"
			"pipeline_pic pipeline_pic pipeline_pic pipeline_pic"
			"location location location location"
			"mission mission mission mission"
			"capabilities capabilities capabilities capabilities"
			"careers careers careers careers"
			"contact_area contact_area contact_area contact_area";
	}

	#the_crew_picture {
		height: 350px;
	}

	#the_crew_box_grid {
		grid-template-areas: 
			". employee_1 employee_1 employee_1 ."
			". employee_2 employee_2 employee_2 ."
			". employee_3 employee_3 employee_3 .";
	}

	#the_crew_box_grid .section_box {
		width: 90%;
	}

	#employee_1 {
		background: url(../images/about/DaveDamitsGMProfile.jpg) top center no-repeat;
		background-size: 100% auto;
	}

	#employee_2 {
		background: url(../images/about/KyleDickOwnerProfile.jpg) top center no-repeat;
		background-size: 100% auto;
	}

	#employee_3 {
		background: url(../images/about/heathProfile.jpg) top center no-repeat;
		background-size: 100% auto;
	}

	#employee_1:hover {
		background-size: 100% auto;
	}

	#employee_2:hover {
		background-size: 100% auto;
	}

	#employee_3:hover {
		background-size: 100% auto;
	}
}