html, body {
	margin: 0;
	padding: 0;
}

.request_a_quote {
	display: grid;

	width: 100%;
	height: 100vh;

	grid-template-columns: 10% 1fr 1fr 1fr 10%;
	grid-template-rows: 10% 1fr 1fr 2fr 2fr 1fr 10%;

	grid-template-areas:
		". . . . exit_quote"
		". title name company ."
		". title email phone ."
		". description comment comment ."
		". description comment comment ."
		". description . submit ."
		". . . . .";

	background-color: #edd023;

	z-index: 200;
}

.request_a_quote .form_cell {
	color: #333366;

	border-style: solid;
	border-width: 2px;
}

.request_a_quote .form_cell input, 
.request_a_quote .form_cell textarea {
	background-color: transparent;
	border-style: none;
	
	height: auto;
	width: 100%;

	padding-top: 3px;
	padding-left: 3px;

	font-size: 10pt;
	color: #333366;
}

.request_a_quote .form_cell textarea {
	height: 99%;
	resize: none;
}

.request_a_quote .form_cell input:focus,
.request_a_quote .form_cell textarea:focus {
	outline: none;
}

.request_a_quote .form_cell input::placeholder, 
.request_a_quote .form_cell textarea::placeholder{
	color: #333366;
}
.request_a_quote .form_cell input:-ms-input-placeholder,
.request_a_quote .form_cell textarea:-ms-input-placeholder {
	color: #333366;
}
.request_a_quote .form_cell input::-ms-input-placeholder,
.request_a_quote .form_cell textarea::-ms-input-placeholder {
	color: #333366;
}

.request_a_quote .form_cell input:focus, .request_a_quote .form_cell textarea:focus {
	outline-width: 0;
}

.request_a_quote #title {
	grid-area: title;
	border-left: none;

	text-align: center;
}

.request_a_quote #name {
	grid-area: name;
	border-left: none;
}

.request_a_quote #company {
	grid-area: company;
	border-left: none;
	border-right: none;
}

.request_a_quote #email {
	grid-area: email;
	border-top: none;
	border-left: none;
}

.request_a_quote #phone {
	grid-area: phone;
	border-top: none;
	border-left: none;
	border-right: none;
}

.request_a_quote #description {
	grid-area: description;
	border-left: none;
	border-top: none;

	padding-left: 10px;
	padding-right: 10px;

	text-align: center;
}

.request_a_quote #comment {
	grid-area: comment;
	border-top: none;
	border-left: none;
	border-right: none;
}

.request_a_quote #submit {
	grid-area: submit;
	border-top: none;
}

.request_a_quote #description p {
	margin: 10px;
}

.request_a_quote #name:hover,
.request_a_quote #company:hover,
.request_a_quote #email:hover,
.request_a_quote #phone:hover {
	cursor: text;
}

.request_a_quote #submit .submit_button {
	width: 100%;
	height: 100%;
}

.request_a_quote #submit .button:hover {
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	.request_a_quote {
		grid-template-columns: 5% 1fr 1fr 1fr 5%;
		grid-template-rows: 10% 1fr 1fr 2fr 2fr 2fr 2fr 1fr 10%;
	
		grid-template-areas:
			". . . . exit_quote"
			". title title title ."
			". description description description ."
			". name company company ."
			". email email phone ."
			". comment comment comment ."
			". comment comment comment ."
			". . . submit ."
			". . . . .";
	}

	.request_a_quote .form_cell input,
	.request_a_quote .form_cell textarea {
		font-size: 18pt;
	}

	.request_a_quote #title {
		border-right: none;
	}

	.request_a_quote #title h1 {
		font-size: 35pt;
	}

	.request_a_quote #description {
		border-bottom: none;
		border-right: none;
	}

	.request_a_quote #description p {
		font-size: 20pt;
	}
}

@media screen and (max-width: 992px) and (orientation:landscape) {
	.request_a_quote {
		height: 200vh;
	}
}