:root {
	--background: #4A4B4C;
	--primary: #B3D841;
	--secondary: #FF5900;
	--tertiary: #B3D841;
	--outline: #FFFFFF;
	--surface: #383837;
	--surfaceVariant: #1C1C1C;
	--error: red;
	--shadow: #9BCAF0;
	--textColor: white;
	--textHighlightColor: #B3D841;
}

body {
	font-family: 'Manjari', sans-serif;

	background-color: var(--background);

	margin: 0;
	padding: 0;
}

h1 {
	color: var(--textColor);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40pt;
}

h2 {
	color: var(--textColor);
	font-weight: bold;
	font-size: 20pt;
	margin: 0;
	margin-top: 10px;
}

h3 {
	color: var(--textHighlightColor);
	font-weight: bold;
	font-size: 18pt;
}

h4 {
	color: var(--textHighlightColor);
	font-size: 22pt;
	text-transform: uppercase;
	font-weight: 600;
}

h5 {
	color: var(--textHighlightColor);
	text-transform: uppercase;
}

p {
	color: var(--textColor);
}

a {
	text-decoration: none;
	color: var(--textHighlightColor);
}

a:hover {
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	h1 {
		font-size: 50pt;
	}
	h2 {
		font-size: 30pt;
	}
	h3 {
		font-size: 30pt;
	}
	h4 {
		font-size: 30pt;
	}
	h5 {
		font-size: 15pt;
	}
	p {
		font-size: 25pt;
	}
	li {
		font-size: 25pt;
	}
}

.main_menu {
	position: fixed;
	display: grid;

	width: 100%;
	height: 80px;
	grid-template-columns: 10% 2fr 1fr 1fr 1fr 1fr 1fr 1fr 10%;
	grid-template-areas: ". logo about nitrogen_services equipment gallery contact drop_down .";

	background-color: var(--surface);

	z-index: 100;

	-webkit-box-shadow: 0px 1px 10px 0px rgba(168,168,168,1);
	-moz-box-shadow: 0px 1px 10px 0px rgba(168,168,168,1);
	box-shadow: 0px 1px 10px 0px rgba(168,168,168,1);
}

.main_menu {
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

.main_menu--active {
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.main_menu a {
	text-decoration: none;
	color: var(--textColor);
}

.main_menu .logo {
	grid-area: logo;

	margin-top: 5px;
	margin-bottom: 5px;

	background: url(../images/logo/tactical_pitch_logo_full_9-27-22.svg) left center no-repeat;
	filter: invert(100%);
	background-size: auto 100%;
}

.main_menu .drop_down {
	grid-area: drop_down;

	background: url(../images/icons/drop_down_menu.png) right center no-repeat;
	background-size: 30px 30px;

	text-align: center;
	margin: auto;

    padding-top: 15%;
    padding-bottom: 15%;

	width: 100%;
}

.main_menu .tab {
	text-align: center;
	margin: auto;

	text-transform: uppercase;
}

.main_menu #about {
	grid-area: about;
}

.main_menu #nitrogen_services {
	grid-area: nitrogen_services;
}

.main_menu #equipment {
	grid-area: equipment;
}

.main_menu #gallery {
	grid-area: gallery;
}

.main_menu #contact {
	grid-area: contact;
}

.drop_only {
	position: absolute;

	background: url(../images/icons/drop_down_menu_black.png) center center no-repeat;
	background-size: 30px 30px;
	background-color: white;

	border-radius: 30px;

	text-align: center;
	margin: auto;

	right: 0;
	margin-right: 9.5%;
	margin-top: 2%;

    height: 40px;
    width: 40px;

    z-index: 100;
}

.full_context_menu {
	position: fixed;
	display: grid;

	width: 100%;
	height: 100%;

	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 0.75fr 1fr 2fr 0.75fr;
	grid-template-areas: 
		". logo logo logo exit_menu ."
		". context_text context_text context_text context_text ."
		". sub_menu1 sub_menu2 sub_menu3 sub_menu4 ."
		". footer footer footer footer .";

	background-color: grey;

	z-index: 500;

	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.full_context_menu--active {
	-webkit-transition: ease-in 0.5s all;
	transition: ease-in 0.5s all;

	-webkit-transform: translate3d(0,0,2px);
	-ms-transform: translate3d(0, 0, 2px);
	transform: translate3d(0, 0,2px);
}

.full_context_menu .logo {
	grid-area: logo;

	margin-top: 5px;
	margin-bottom: 5px;

	background: url(../images/logo/ANPS_Logo_V7_Web.png) left center no-repeat;
	background-size: auto 100%;
}

.full_context_menu .exit {
	grid-area: exit_menu;

	background: url(../images/icons/exit_button.png) right center no-repeat;

	background-size: auto 40%;
}

.full_context_menu .context_text {
	grid-area: context_text;

	text-align: center;
	margin-top: 5%;
}

.full_context_menu .sub_menu {
}

.full_context_menu #sub_menu1 {
	grid-area: sub_menu1;
}

.full_context_menu #sub_menu2 {
	grid-area: sub_menu2;
}

.full_context_menu #sub_menu3 {
	grid-area: sub_menu3;
}

.full_context_menu #sub_menu4 {
	grid-area: sub_menu4;
}

.full_context_menu .footer {
	grid-area: footer;

	text-align: center;

	color: white;
}

.full_context_menu .footer a {
	color: white;
}

.full_context_menu .footer ul {
    list-style: none;
    margin: 0;
    vertical-align: top;
    padding-bottom: 10px;
}

.full_context_menu .footer ul li {
    display: inline-block;
    border-right: 2px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
}

.page_footer {
	display: grid;

	width: 100%;
	height: 100vh;

	background: url(../images/homepage/soccer_field_3.jpg) center center no-repeat;
	background-size: cover;

	grid-template-rows: 2fr 3fr;
	grid-template-areas: 
		"footer_pin_drop"
		"footer_text_area";
}

.page_footer .footer_pin_drop {
	grid-area: footer_pin_drop;

	background: url(../images/icons/pin_drop.png) left center no-repeat;
	background-size: 50px auto;
	background-position: 35%;

	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}

.page_footer .footer_pin_drop:hover {
	background: url(../images/icons/pin_drop2.png) left center no-repeat;
	background-size: 50px auto;
	background-position: 35%;
}

.page_footer .footer_text_area {
	grid-area: footer_text_area;
	display: grid;

	color: var(--textColor);

	width: 100%;
	height: 100%;

	background-color: var(--secondary);
	opacity: 0.9;

	grid-template-columns: 10% 1fr 1fr 1fr 10%;
	grid-template-rows: 5% 3fr 1fr 1fr 1fr 1fr 5%;
	grid-template-areas: 
		". . . . ."
		". footer_logo footer_logo footer_address ."
		". footer_row1 footer_row1 women_owned ."
		". footer_row2 footer_row2 women_owned ."
		". footer_row3 footer_row3 women_owned ."
		". footer_row4 footer_row4 footer_row4 ."
		". . . . .";

}

.page_footer .footer_text_area .footer_logo {
	grid-area: footer_logo;

	width: 90%;
	height: 90%;

	background: url(../images/logo/tactical_pitch_logo_full_9-27-22.svg) left center no-repeat;
	filter: invert(100%);
	background-size: contain;
}

.page_footer .footer_text_area .women_owned {
	grid-area: women_owned;

	width: 100%;
	height: 100%;

	background: url(../images/logo/WOBLogo.png) center center no-repeat;
	background-size: 80% auto;

	color: white;
	border-top: solid;
	border-width: 2px;
}

.page_footer .footer_text_area .footer_address {
	grid-area: footer_address;
	text-align: right;
}

.page_footer .footer_text_area .footer_address p a {
	color: white;
}

.page_footer .footer_text_area .footer_address p:first-child {
	margin-top: 0;
}

.page_footer .footer_text_area .footer_row_text {
	display: flex;

	width: 100%;

	border-top: solid;
	border-right: solid;
	border-width: 2px;

	align-items: center;
}

.page_footer .footer_text_area .footer_row_text h2 {
	margin-left: 15px;
	margin-right: 15px;
}

.page_footer .footer_text_area .footer_row_text p {
	margin-left: 15px;
	margin-right: 15px;

	color: white;
}

.page_footer .footer_text_area #footer_row1 {
	grid-area: footer_row1;
}

.page_footer .footer_text_area #footer_row2 {
	grid-area: footer_row2;
}

.page_footer .footer_text_area #footer_row3 {
	grid-area: footer_row3;
}

.page_footer .footer_text_area #footer_row4 {
	grid-area: footer_row4;
	border-right: none;
}

.page_footer .footer_text_area #footer_row4 svg {
	height: 25px;
	width: 25px;
	margin-left: 15px;
	fill: var(--textColor);
}

.under_construction {
	z-index: 1000;

	position: fixed;

	bottom: 0;

	margin: 30px;
	padding: 5px;
	background-color: #000;
}

.under_construction .exit {
	position: absolute;

	content: "";

	text-align: center;
	vertical-align: center;

	background: url(../images/icons/x_symbol.jpg) center center no-repeat;
	background-size: 18px 18px;

	right: -10px;
	top: -10px;

	height: 20px;
	width: 20px;

	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: white;
}

.under_construction .exit:hover {
	cursor: pointer;
}

.bg_watermark {
	position: fixed;

	width: 100%;
	height: 100%;

	z-index: -1;

	margin: auto;

	background: url(../images/homepage/ANPS_Watermark.png) center center no-repeat;
	background-size: auto 65%;
}

@media screen and (max-width: 992px) {
	.main_menu {
		grid-template-areas: ". logo logo logo logo logo drop_down drop_down .";
		height: 150px;
	}

	.main_menu .tab {
		display: none;
	}

	.main_menu .drop_down {
		background-size: 60px 60px;
	}

	.full_context_menu {
		grid-template-rows: 0.5fr 0.3fr 1fr 1fr 1fr 1fr 0.5fr;
		grid-template-areas: 
			". logo logo logo exit_menu ."
			". context_text context_text context_text context_text ."
			". sub_menu1 sub_menu1 sub_menu1 sub_menu1 ."
			". sub_menu2 sub_menu2 sub_menu2 sub_menu2 ."
			". sub_menu3 sub_menu3 sub_menu3 sub_menu3 ."
			". sub_menu4 sub_menu4 sub_menu4 sub_menu4 ."
			". footer footer footer footer .";
	}

	.page_footer .footer_text_area {
		grid-template-columns: 5% 1fr 1fr 1fr 5%;
		grid-template-areas: 
			". . . . ."
			". footer_logo footer_address footer_address ."
			". footer_row1 footer_row1 women_owned ."
			". footer_row2 footer_row2 women_owned ."
			". footer_row3 footer_row3 women_owned ."
			". footer_row4 footer_row4 footer_row4 ."
			". . . . .";
	}

	.page_footer .footer_text_area .footer_row_text p {
		font-size: 15pt;
	}

	.page_footer .footer_text_area .footer_row_text h2 {
		font-size: 35pt;
	}
}

@media screen and (orientation:portrait) and (max-width: 992px) {
	.drop_only {
		background-size: 50px 50px;

	    height: 60px;
	    width: 60px;

	    margin-top: 5%;
	}
}

@media screen and (orientation:landscape) and (max-width: 992px) {
	.main_menu {
		grid-template-areas: ". logo about nitrogen_services equipment gallery contact drop_down .";
		height: 80px;
	}

	.main_menu .tab {
		display: block;
	}

	.main_menu .drop_down {
		background-size: 30px 30px;
	}

	.full_context_menu {
		grid-template-rows: 3fr 0.3fr 1fr 1fr;
		grid-template-areas: 
			". logo logo logo exit_menu ."
			". context_text context_text context_text context_text ."
			". sub_menu1 sub_menu2 sub_menu3 sub_menu4 ."
			". footer footer footer footer .";
	}

	.full_context_menu .footer p {
		font-size: 10pt;
	}

	.full_context_menu .footer ul li {
		font-size: 10pt;
	}
}