.body_splash_screen {
	display: grid;

	width: 100%;
	height: 100vh;

	grid-template-columns: 1fr 2fr;
	grid-template-areas: "text_area image_area";
}

.body_splash_screen .text_area {
	grid-area: text_area;

	vertical-align: middle;
	padding-left: 30%;
	padding-top: 30vh;
	margin: 0;

	z-index: 1;
}

.body_splash_screen .text_area h1 {
	margin-top: 0;

	width: 200%;
}

.body_splash_screen .text_area h3 {

}

.body_splash_screen .image_area {
	grid-area: image_area;

	z-index: 0;
}

.body_splash_screen #about_page_image {
	background: url(../images/about/about_page_splash.jpg) left bottom no-repeat;
	background-size: cover;
}

.body_splash_screen #about_page_text {
	background-color: #9fe0d7;
}

.large_text_heading {
	width: 100%;

	margin: auto;

	margin-top: 25px;
}

.large_text_heading h1 {
	color: #1a6558;

	border-style: solid;
	border-width: 2px;
	border-left: none;

	width: 40%;

	margin-left: 0;
}

.large_text_heading h2 {
	color: #333366;

	margin: 100px;

	text-align: justify;
}

.large_text_heading h5 {
	position: absolute;
    margin-top: 15px;

    color: #1a6558;
}

.large_text_heading ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
	display: table;
}

.large_text_heading ul li {
	display: inline-flex;
	
	padding: 5px;
	margin-right: 5px;
    margin-bottom: 5px;

	font-size: 15pt;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.section_heading {
	margin-left: 10%;
	padding-top: 200px;
	padding-bottom: 50px;
	padding-right: 100px;
	padding-left: 10%;
}

.section_heading h1 {
	border-style: solid;
	border-width: 2px;
	border-left: none;

	color: #333366;
}

.section_heading h5 {
	position: absolute;
	margin-top: 15px;
}

.section_heading2 {
	width: 100%;

	margin-top: 50px;
}

.section_heading2 .border_box1 {
	display: inline-flex;
	margin-left: 10%;
	margin-right: 10%;

	width: 80%;

	border-style: solid;
	border-width: 2px;
	border-color: #a7e0d6;

	border-right: none;
	border-left: none;
}

.section_heading2 .border_box2 {
	margin-left: 2%;
	padding-right: 2%;

	width: 80%;

	border-right: solid;
	border-width: 2px;
	border-color: #a7e0d6;
}

.section_heading2 .heading {
	color: #333366;	

	margin-right: 30vw;
	margin-left: 5%;
}

.section_heading2 .description {
	color: #333366;
	margin: auto;
	margin-right: 5%;
	margin-left: 5%;
}

.section_heading2 .heading2 {
	color: #333366;

	text-align: center;
}

.section_heading2 .description2 {
	display: block;

	color: #333366;

	margin: auto;
	margin-right: 5%;
	margin-left: 5%;
}

.box_grid {
	display: grid;

	grid-template-columns: 5% 1fr 1fr 1fr 5%;
	grid-auto-rows: auto;
	/*grid-auto-rows: 100%;*/
}

.box_grid .section_box {
	width: 100%;
	padding-top: 100%;
	/*height: 100%;*/

	margin: auto;
	margin-top: 12.5%;

	border-style: solid;
	border-width: 2px;
	border-color: #333366;

	background: url(../images/homepage/blank.png) top center no-repeat;
	background-size: 120% auto;

	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;

	text-decoration: none;
}

.box_grid .section_box h4 {
	margin: 10px;
	background-color: #fffffff2;
}

.box_grid .section_box h5 {
	position: absolute;

	margin-top: -28%;
	margin-left: 12px;

	background-color: #fffffff2;
}

.overlay_image {
	width: 100%;
}

#contact_area {
	grid-area: contact_area;

	width: 100%;
	height: 100vh;

	margin-top: 50px;

	border: 0;

	z-index: 200;
	-webkit-transform: translate3d(0,0,1px);
	transform: translate3d(0,0,1px);
}

@media screen and (max-width: 992px) {
	.body_splash_screen {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"text_area"
			"image_area";
	}

	.body_splash_screen .text_area {
		vertical-align: middle;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 20vh;
	}

	.body_splash_screen .text_area h1 {
		width: 100%;
	}

	.body_splash_screen .image_area {
		background-position: center center !important;
		background-size: 200% !important;
	}

	.section_heading {
		padding-top: 0;
		padding-bottom: 0;
	}

	.box_grid .section_box {
		padding-top: 50%;
		margin-top: 2.5%;
	}

	.box_grid .section_box h5 {
		margin-top: -50px;
	}

	.section_heading2 .border_box1 {
		display: block;
	}

	.section_heading2 .border_box1 h3 {
		display: none;
	}

	.section_heading2 .border_box2 {
		border-right: none;
	}

	.section_heading2 .border_box1 p {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.large_text_heading h1 {
		width: 100%;
	}
}

@media screen and (orientation:landscape) and (max-width: 992px) {

}