.gallery_page_content {
	width: 100%;

	padding-top: 100px;
	padding-bottom: 100px;
}

.disable-scroll {
	margin: 0; 
	height: 100%; 
	overflow: hidden;
}

.image-gallery {
	margin: auto;
	width: 100%;
}

.image-gallery .three-picture-section {
	display: table;
	margin: 0 auto;

	min-width: 780px;
}

.image-gallery .three-picture-section .single-image {
	display: inline-block;

	margin: 10px;

	min-width: 240px;
	min-height: 240px;
	max-width: 240px;
	max-height: 240px;
}

.image-gallery .three-picture-section .single-image .gallery-image  {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	display: block;

	margin: auto;

	border-style: solid;
	border-width: 2px;
	border-color: #ffff;

/* 	top: 50%; */
/*   	transform: translateY(-50%); */
}

.image-gallery .three-picture-section .single-image .gallery-image:hover {
	border-color: #333366;
	cursor: zoom-in;
}

.image-fullscreen {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	background-color: #00000080;
	
	z-index: -10;
	opacity: 0;

	top: 0;

	position: fixed;

	width: 100%;
	height: 100%;
}

.image-fullscreen .inner-screen {
	-moz-transition: all 0.5s ease;
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;

	position: absolute;

	top: 50%; 
	left: 50%;
  	transform: translate(-50%,-50%);

	display: block;
	margin: auto;

/* 	border-radius: 20px; */
	border-color: transparent;

	max-width: 85%;
	max-height: 100%;
}

.image-fullscreen .exit-button {
	position: absolute;

  	top: 50%;
  	left: 50%;

  	transform: translate(-50%, -50%);

  	font-size: xx-large;

  	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

  	opacity: 0;
}

.image-fullscreen .exit-button:hover {
	opacity: 1;
}

.image-fullscreen .exit-button a {
	color: #ff0000;

	position: absolute;

	right: 5px;
	top: 0;
}

.image-fullscreen .left-arrow {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	position: absolute;

  	top:0;
  	left: 0;

  	height: 100%;
  	width: 50px;

  	background: url(../images/gallery/left_arrow.png) center no-repeat;
  	background-size: 50px 50px;
}

.image-fullscreen .left-arrow:hover {
	background-color: #4671D5;
	cursor: pointer;
}

.image-fullscreen .right-arrow {
	-moz-transition: all 1.0s ease;
  	-webkit-transition: all 1.0s ease;
  	transition: all 1.0s ease;

	position: absolute;

  	top: 0;
  	right: 0;

	height: 100%;
	width: 50px;

  	background: url(../images/gallery/right_arrow.png) center no-repeat;
  	background-size: 50px 50px;
}

.image-fullscreen .right-arrow:hover {
	background-color: #4671D5;
	cursor: pointer;
}

#grey-area {
	background-color: transparent;
	
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 992px) {
	.image-fullscreen .exit-button {
		opacity: 1 !important;
	}
}

@media screen and (orientation:portrait) and (max-width: 992px) {
	.gallery_page_content {
		padding-top: 150px;
	}
}