<form class="request_a_quote"
    action="https://docs.google.com/forms/d/e/1FAIpQLSfFiOR7qu6TYEAK12RkMqo63CyNsiTgmj0jvW0f9YpCFvACOA/formResponse">
    <div class="form_cell" id="title">
        <h1>Contact</h1>
    </div>
    <div class="form_cell" id="name">
        <input name="entry.723518955" type="text" placeholder="NAME" />
    </div>
    <div class="form_cell" id="company">
        <input name="entry.185140507" type="text" placeholder="COMPANY" />
    </div>
    <div class="form_cell" id="email">
        <input name="entry.257022474" type="text" placeholder="EMAIL" />
    </div>
    <div class="form_cell" id="phone">
        <input name="entry.886061274" type="text" placeholder="PHONE" />
    </div>
    <div class="form_cell" id="description">
        <p>Contact us for a quote or any questions you may have.</p>
        <p>Please include the <strong>scope of work</strong>, <strong>when the services are needed</strong>,
            <strong>location</strong>, and <strong>due date</strong> for the quote in the description if the information
            is known.</p>
    </div>
    <div class="form_cell" id="comment">
        <textarea name="entry.1279966970" type="text" placeholder="DESCRIPTION OF TASK"></textarea>
    </div>
    <div class="form_cell" id="submit">
        <input class="submit_button" type="submit" value="SUBMIT" />
    </div>
</form>