<div class="full_context_menu">
    <a class="logo" href="index.html"></a>
    <a class="exit" id="drop_down_menu-exit"></a>
    <h1 class="context_text">Site Navigation</h1>
    <div class="sub_menu" id="sub_menu1">
        <a hfer="index.html">
            <h2>Home</h2>
        </a>
        <a href="html/about.html">
            <h2>About us</h2>
        </a>
        <a href="html/gallery.html">
            <h2>Features and pricing</h2>
        </a>
    </div>
    <div class="sub_menu" id="sub_menu2">
        <a href="html/about.html#careers">
            <h2>Careers</h2>
        </a>
        <a href="html/contact.html">
            <h2>Contact</h2>
        </a>
        <a href="https://goo.gl/maps/Zrn1wvDJLDP2" target="#">
            <h2>Map</h2>
        </a>
    </div>
    <div class="sub_menu" id="sub_menu3">
        <a href="html/services.html">
            <h2>Services</h2>
        </a>
        <h2>Equipment</h2>
    </div>
    <div class="sub_menu" id="sub_menu4">
        <a href="html/contact.html#contact_area">
            <h2>Request a Quote</h2>
        </a>
    </div>
    <div class="footer">
        <p>Tactical Pitch TM</p>
        <ul>
            <li>Address: <a href="https://goo.gl/maps/Zrn1wvDJLDP2" target="_blank">100 Hamilton St. Washington, Pa
                    15301</a></li>
            <li>Phone: <a href="tel:7242282213">724-228-2213</a></li>
            <li>Fax: <a href="tel:7242282237">724-228-2237</a></li>
            <li>Email: <a href="mailto:contact@atlanticn2.com">contact@atlanticn2.com</a></li>
        </ul>
        <ul>
            <li>Women Owned Small Business</li>
            <li>Department of Transportation</li>
            <li>Veriforce</li>
            <li>NCCER</li>
            <li>ISTC</li>
        </ul>
    </div>
</div>